# Auth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000

# AWS
AWS_REGION=sa-east-1
AWS_ACCOUNT_ID=

# WhatsApp
META_APP_ID=
META_APP_SECRET=
WHATSAPP_VERIFY_TOKEN=

# OpenAI
OPENAI_API_KEY=

# MercadoPago
MERCADOPAGO_ACCESS_TOKEN=
MERCADOPAGO_PUBLIC_KEY=
